html {
    height: 100%;
    width: 100%;
}

body {
    height: 600px;
    background-color: #002347;
    color: white;
}

form {
    background-color: #e85b40;
    display: block;
    height: 400px;
    width: 350px;
    margin: auto;
    padding: auto;
    border-radius: 12px;
    
}

form p {
    text-align: center;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

form input , button{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
}
#form-acl {
    font-size: 12px;
}

.btn-form {
    margin-top: 30px;
    background-color: #002347;
    color: white;
    width: 180px;
    border-radius: 4px;
    font-weight: bold;

}

.btn-form:hover{
    background-color: white;
    color: #002347;
}
.form-in {
    margin-top: 12px;
    position: relative;
    

}

h1 , h2, h4 {
    text-align: center;
}

